footer {
  height: 350px;
  background-color: #141430;
  border-top: 1px solid #68677E;
  border-bottom: 1px solid #68677E;
  color: white;
  
  .container_80 {
    margin: 0 auto;

    // Row 1 
    & .first_row {
      height: 270px;
      margin-bottom: 40px;

      // First column
      .col-lg-4 {
        height: 100%;

        & .details_footer {
          flex-direction: column;
          & p {
            margin-top: 25px;
            margin-left: 15px;
            padding-bottom: 25px;
          }
            
          & a {
            @include button();
            &:hover {
              background-color: map-get($color-map, primary_gray_dark);
            }
          }
        }
      }

      // Second column
      .col-lg-3 {
        height: 100%;
        
        & .links_footer {
          .title_footer {
            margin-top: 25px;
            margin-left: 20px;
          } 
          
          & div {
            font-size: 0.6rem;
            line-height: 1.5rem;
          }
            
          .fa-chevron-right {
            margin-right: 15px;
            margin-left: 25px;
          }
          
          a {
            color: white;
            &:hover {
              color: map-get($color-map, primary_link_color);
            }
          }
            
        }
      }

      // Third column
      .col-lg-5 {
        height: 100%;
      
        & .logo_footer {
          height: 100%;
        
          img {
            height: 80%;
          }
        } 
      } 
    
    }
    
    // Row 2
    & .second_row {
      height: 40px;
      
      // First column
      .col-lg-4 {
        height: 100%;
      }

      .copyright {
        font-size: 0.8rem;
        margin-left: 18px;
      }
        
    

      // Third column
      .col-lg-5 {
        height: 100%;
        margin-right: -18px;
        .social {
          width: 95%;
          i {
            color: #00aeef;
            margin-right: 10px;
        
          }
        }
      }

    }
  } 
}


