footer {
  background-color: #141430;
  color: white;
  padding-bottom: 10px;
  
  .container_80 {
    margin: 0 auto;
    flex-direction: column;

    // Row 1 
    & .first_row {
      margin: 0;
      padding-bottom: 50px;

      // Logo
      .logo_row {
        
        img {
          height: 120px;
        }
      } 
    
      // Menu
      .menu_footer {
        & .links_footer {
          
            .title_footer {
              margin-top: 25px;
              margin-left: 20px;
            } 

            .adjustment {
              max-width: 300px;
              & div {
                font-size: 0.8rem;
                line-height: 1.5rem;
              }
            }

            .visibility_single {
              display: none;
            }

            .fa-chevron-right {
              margin-right: 10px;
              margin-left: 20px;
            }
          
            a {
              color: white;
              &:hover {
                color: #00aeef;
              }
            }
          } 
      }
      
      // Details
      .details {

        & .details_footer {
          flex-direction: column;
          & p {
            margin-top: 25px;
            padding-bottom: 25px;
          }
            
          & a {
            @include button();
            width: max-content;
            &:hover {
              background-color: #0083b3;
            }
          }
        }
      }

    }
    
    
    // Row 2
    & .second_row {
      margin: 0;
      
      // Social
      .social_icons {

        .social {
          max-width: 200px;
          justify-content: flex-start;
          i {
            color: #00aeef;
            margin-right: 10px;
          }
        }
      }
      

      // Copyright
      .copyright {
        font-size: 0.75rem;
        justify-content: space-around;
      }
      
    }
  }
}





