footer {
  background-color: #141430;
  color: white;
  padding-bottom: 10px;
  
  .container_80 {
    margin: 0 auto;
    flex-direction: column;

    // Row 1 
    & .first_row {
      margin: 0;
      padding-top: 25px;
      padding-bottom: 50px;

      // Logo
      .logo_row {
        img {
          height: 100px;
          margin-right: 20px;
        }
      } 
    
      // Menù footer
      .menu_footer {
        & .links_footer {
          
          .title_footer {
            margin-top: 25px;
            margin-left: 20px;
          } 

          .adjustment {
            flex-direction: row;
            justify-content: space-evenly;
            & div {
              flex-direction: column;
              font-size: $xsmall;
              line-height: 1.5rem;
            }
          }

          .fa-chevron-right {
            margin-right: 10px;
            margin-left: 20px;
          }
        
          a {
            color: white;
            &:hover {
              color: map-get($color-map, primary_color_light);
            }
          }



        }   
      }
      
      // Details
      .details {

        & .details_footer {
          flex-direction: column;
          & p {
            margin-top: 25px;
            padding-bottom: 25px;
          }
            
          & a {
            @include button();
            font-size: $xsmall;
            width: max-content;
            &:hover {
              background-color: map-get($color-map, button_blue_hover);
            }
          }
        }
      }
    
    }
    
    // Row 2
    & .second_row {
      margin: 0;
      
      // Social
      .social_icons {
        .social {
          max-width: 200px;
          justify-content: center;
          i {
            color: map-get($color-map, primary_color_light);
            margin-right: 10px;
            font-size: $medium;
          }
        }
      }
      
      // Copyright
      .copyright {
        font-size: $xsmall;
        justify-content: space-around;
      } 
    }
  }
}