#info_centre {
    background-color: white;

    .first_info_row {
        margin: 0;
        .info_title {
            text-align: center;
            p:nth-child(2) {
                font-size: 1.4rem;
                margin: 0;
            }
        }
    }

    .second_info_row {
        margin: 15px 0 0 0;
        
        .info_box {
            min-height: 100px;

            .info_text {
                padding: 20px;
                flex-direction: column;

                &:hover {
                    background-color: map-get($color-map, button_blue_hover);
                }

                p:nth-child(1) {
                    color: map-get($color-map, primary_color_light);
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                
                p:nth-child(2) {
                    color: map-get($color-map, primary_color_grey);
                    margin: 0;
                }
            }

        }
        
    }   

    .third_info_row {
        margin: 0;
        .info_staff {
            text-align: center;
            p {
                font-size: 1rem;
                margin-top: 20px;
                a {
                    color: map-get($color-map , primary_color_light);
                }
            }
        }
    }
}
