#jumbo_home{
  padding-top: 50px;
  height: calc(100vh + 80px);
  min-height: 800px;
  background-image:url("/img/bg_jumbo.jpg");
  background-size: cover;
  position: relative;
  .overlay_doc_image{
    width: 100%;
    height: 100%;
    background-image: url("/img/doc_jumbo.png");
    background-repeat: no-repeat;
    background-size: calc(0.6 * 790px) calc(0.6 * 1000px);
    background-position: 80% 86%;
  }
  .container_searchbar{
    height: 100%;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 38%;
    left: 10%;
    .text_jumbo{
      color: white;
      h2{
        font-size: 50px;
      }
    }
    .form{
        .input_container{
          input{
            width: 75%;
            height: 45px;
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
            padding: 0 20px;
            &::first-letter{
              text-transform: uppercase;
            }
          }
          button{
            width: 15%;
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
            color: white;
            background: map-get($color-map, primary_color_dark);
            transition: background-color 0.4s ease;
            &:hover{
              background: map-get($color-map, primary_color_light);
            }
          }
        }
        ul#spec_list{
          display: none;
          width: 74%;
          background: white;
          margin-left: 1%;
          border-top: 1px solid lightgrey;
          padding-left: 0;
          margin-bottom: 0;
          max-height: 140px;
          overflow-y: auto;
          li{
            text-transform: capitalize;
            width: 100%;
            height: max-content;
            a{
              padding-top: 5px;
              padding-bottom: 5px;
              padding-left: 20px;
              display: block;
              width: 100%;
              color: map-get($color-map, primary_color_dark);
              outline: 0;
              &:hover{
                background-color: lightgrey;
                transition: background-color 0.3s ease;
              }
            }
          }
          &.active{
            display: block;
          }
        }
      }
    }
  }
