#jumbo_home{
  height: 500px;
  background: rgb(2,61,113);
  background: linear-gradient(180deg, rgba(2,61,113,1) 0%, rgba(74,149,217,1) 100%);
  .overlay{
    width: 100%;
    height: 100%;
    background-position: 100% 130%;
    background-repeat: no-repeat;
    background-size: calc(1000px * 0.7) calc(510px * 0.7);
    
    .container_80{
      height: calc(100% - 80px);
      .searchbar{
        justify-content: center;
        padding-top: 80px;
        form{
          width: 50%;
          justify-content: center;
          input{
            width: 80%;
            height: 50px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            padding: 0 15px;
          }
          button{
            width: 20%;
            height: 50px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: map-get($color-map, element_color_light);
            transition: background-color 0.3s ease;
            &:hover{
              background-color: map-get($color-map, element_color_dark);
            }
          } 
        }
      }
    }
  }
}
