#navbar{
  background-color: map-get($color-map, primary_color_dark);
  height: 100px;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 7px;
  .row{
    #logo{
      align-items: center;
      img{
        height: 100px;
        margin-left: 10px;
      }
      .title{
        color: white;
        font-size: 2em;
        margin: 0;
      }
    }
  }
  #button_hamburger{
    display: none;
    color: white;
    justify-content: center;
    align-items: center;
  }
  #links_container{
    .close_icon_hamburger{
      display: none;
      color: white;
    }
    .links{
      display: flex;
      height: 100%;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 0;
      .button_nav{
        @include button();
        margin-right: 15px;
      }
      .link{
        height: 100%;
        text-transform: capitalize;
        margin: 0 1.5em;
        position:relative;
        a{
          display: block;
          color: white;
          font-size: 20px;
          font-weight: 500;
          font-size: 17px;
          margin-top: 40px;
          height: 17px;
          .hr{
            width: 0px;
            margin: auto;
            transition: width 0.3s ease;
          }
          hr{
            position: relative;
            transition: all 0.3s ease;
            border-top: 5px solid map-get($color-map, primary_color_light);
            border-radius: 2px;
            top: 12px;
          }
          &:hover .hr{
            width: 100%;
          }
          i{
            color: map-get($color-map, primary_color_light);
            margin-right: 3px;
          }
        }
        hr{
          border-top: 0;
        }
      }
    }
  }


}

// ANIMATIONS

@keyframes navopen {
  from {top: -100px;}
  to {top:0;}
}

#navbar.fixed_top{
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  border-radius: 0;
  animation-name: navopen;
  animation-duration: 0.5s;
}
