#sponsored_doctors{
    color: map-get($color-map, $key:'primary_color_dark');
    padding: 50px 0;
    h3.staff{
        text-transform: uppercase;
    }
}

#slideshow{
    display: flex;
    flex-direction: row;
    i{
        width: 5%;
        font-size: 30px;
        align-self: center;
        cursor: pointer;
    }
    .card_container{
        display: flex;
        width: 90%;
        .card{
            display: flex;
            align-items: flex-start;
            min-height: 350px;
            border: none;
            padding: 20px;
            text-align: center;
            .avatar{
                width: 150px;    
                height: 150px;    
            }
            .info{
                margin-bottom: 1px;
            }
            .presentation{
                text-align: left;
            }
        }
    }
}