#sponsored_doctors{
    height: calc(100vh -35px);
    color: map-get($color-map, $key:'primary_color_dark');
    padding: 50px 0;
    h3.staff{
        text-transform: uppercase;
    }
}

#slideshow{
    display: flex;
    flex-direction: row;
    i{
        width: 5%;
        font-size: 30px;
        align-self: center;
        cursor: pointer;
    }
    .card_container{
        width: 90%;
        #card-complete{
            display: flex;
            width: 100%;
            height: 100%;
            .card-complete-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                border: none;
                padding: 20px;
                border-right: 1px solid #ddd;
                transition: all 0.5s;
                .avatar{
                    width: 200px;    
                    height: 200px;
                    border-radius: 50%;
                    background-size: cover; 
                    background-position: center top;   
                }
                .name{
                    text-transform: capitalize;
                }
                .info{
                    margin-bottom: 5px;
                }
                .presentation{
                    text-align: justify;
                }
            }
            .card-complete-enter, .card-complete-leave-to{
                opacity: 0;
            }
            .card-complete-leave-active{
                display: none;
            }
            .card-complete-item:last-child{
                border: none;
            }
        }
    }
}


