#advanced_search{
  background-image:url("/img/bg_jumbo.jpg");
  background-size: cover;
  main{
    h1.title{
      color: white;
      text-align: center;
      margin-top: 40px;
    }
    input{
      margin-top: 40px;
      margin-bottom: 800px;
    }
  }
}
