@include scrollbar();

#advanced_search{
  background-image:url("/img/bg_jumbo.jpg");
  background-size: cover;
  padding-top: 50px;
  main{
    min-height: calc(100vh - 150px);
    padding-bottom: 50px;
    h1.title{
      color: white;
      text-align: center;
      margin-top: 40px;
    }
    .component{
      width: 100%;
      .form{
        position: relative;
        margin: 40px auto;
        .input_container{
          input{
            height: 45px;
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
            padding: 0 20px;
            border: 0;
            &:focus{
              border: 0;
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0)
            }
            &::placeholder{
              text-transform: none;
            }
          }
        }
        ul#spec_list{
          position: absolute;
          top: 45px;
          left: 50%;
          width: 98%;
          display: none;
          background: white;
          padding-left: 0;
          margin-bottom: 0;
          max-height: 140px;
          overflow-y: auto;
          transform: translateX(-50%);
          li{
            text-transform: capitalize;
            width: 100%;
            height: max-content;
            a{
              padding-top: 5px;
              padding-bottom: 5px;
              padding-left: 20px;
              display: block;
              width: 100%;
              color: map-get($color-map, primary_color_dark);
              outline: 0;
              &:hover{
                background-color: lightgrey;
                transition: background-color 0.3s ease;
              }
            }
          }
          &.active{
            display: block;
          }
        }
      }
      .card_container{
        flex-wrap: wrap;
        justify-content: flex-start;
        .card_wrapper{
          width: calc(100% / 4);
          padding: 10px;
          .card{
            display: flex;
            height: 500px;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: map-get($color-map, card_background);
            color: white;
            border-radius: 10px;
            padding: 20px 10px;
            .avatar{
              .profile{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                background-position: top center;
                background-size: cover;
                background-repeat: no-repeat;
              }
            }
            .info{
              font-size: $small;
              margin-top: 5px;
            }
            .rating{
              display: flex;
              i{
                  margin-right: 5px;
                  color: gold;
                  font-size: $small;
              }
             }
            .specializations{
              height: 54px;
              padding-right: 10px;
              overflow-y: auto;
            }
            .description{
              width: 100%;
              height: 100px;
              padding: 0 5px;
              text-align: justify;
              overflow-y: auto;
            }
          }
        }
      }
      .page_controller{
        display: flex;
        justify-content: flex-start;
        width: 240px;
        padding: 50px 0 30px 10px;

        .arrow{
          display: flex;
          min-width: 60px;
          min-height: 60px;
          width: max-content;
          padding: 10px;
          justify-content: center;
          align-items: center;
          background: map-get($color-map, card_background);
          color: white;
          border-radius: 20px;
          transition: background 0.5s;
          margin-right: 10px;
          cursor: pointer;
          i{
            font-size: $medium;
          }
        }
        .left:hover, .right:hover{
          background: map-get($color-map, card_background_hover);
        }
        .page{
          font-size: $small;
        }

      }
    }
  }
}


