#profile_doctor{
  background-image:url("/img/bg_jumbo.jpg");
  background-size: cover;
  padding-top: 50px;
  nav{
    margin-top: 50px;
  }
  footer{
    position: relative;
    z-index: 0;
  }
  main{
    position: relative;
    z-index: 0;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    background: map-get($color-map, card_background);
    border-radius: 10px;
    padding-bottom: 50px;
    .doctor_infos{
      width: 100%;
      margin-left: 0;
      .img_profile_container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .img_container{
          width: 250px;
          height: 250px;
          border-radius: 50%;
          background-size: cover;
        }
        .img_null{
          width: 250px;
          height: 250px;
          margin: 70px auto;
          border-radius: 50%;
          background-size: cover;
          background-position: 40%;
        }
      }
      .info_container{
        h1{
          margin-bottom: 0;
        }

        .info_personal{
          width: 100%;
          margin-top: 0;
          text-transform: uppercase;
          margin-bottom: 30px;
          border-radius: 10px;
          .specializations{
            color: map-get($color-map, primary_color_light);
            margin: 0;
            span:not(:last-child){
              &::after{
                content: " &";
                color: white;
              }
            }
            span:first-child{
              &::before{
                content: "Specialist in ";
                color: white;
              }
            }
            .empty_message{
              color: white;
            }
            .empty_message:not(:last-child){
              display: none;
            }
          }


          .clinics{
            color: map-get($color-map, primary_color_light);
            margin: 0;
            span:not(:last-child){
              &::after{
                content: " &";
                color: white;
              }
            }
            span:first-child{
              &::before{
                content: "Works at ";
                color: white;
              }
            }
            .empty_message{
              color: white;
            }
            .empty_message:not(:last-child){
              display: none;
            }
          }

          .no_bio{
            margin-top: 15px;
          }
          .bio{
            margin-top: 25px;
            width: 100%;
            padding-right: 5%;
            h4{
              font-size: 20px;
              margin-bottom: 5px;
            }
            a{
              display: block;
              width: max-content;
              text-transform: capitalize;
              background-color: map-get($color-map, primary_color_light);
              color: white;
              padding: 10px;
              margin-top: 20px;
              border-radius: 5px;
              font-size: 18px;
              font-weight: 600;
              transition: background-color 0.4s ease;
              &:hover{
                background-color: #0188BB;
              }
            }
            .description{
              max-height: 150px;
              overflow-y: auto;
              text-transform: none;
              font-style: italic;
              p{
                font-size: 16px;
              }
              p::before{
                content: '" ';
              }
              p::after{
                content: ' "';
              }
            }
          }
        }
      }
      .services_contacts{
        width: 100%;
        margin: auto;
        margin-top: 30px;
      .services{
        h2{
          padding-left: 5%;
          margin-top: 0;
        }
        .services_container{
          padding-left: 5%;
          padding-right: 5%;
          position: relative;
          #services_pagination{
            width: 85%;
            height: 200px;
            border-radius: 10px;
            flex-wrap: wrap;
            overflow-y: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            padding-left: 2%;
            margin-top: 20px;
            &::-webkit-scrollbar {
              display: none;
            }
            .service{
              width: 100%;
              height: 50%;
              h4{
                color: map-get($color-map, primary_color_light);
                margin-bottom: 5px;
                margin-top: 0;
              }
              p{
                margin-top: 5px;
                margin-bottom: 0;
                padding: 0;
              }
              .price::after{
                content: " €";
              }
            }
          }
          .buttons{
            width: 30px;
            height: max-content;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            font-size: 25px;
            color:map-get($color-map, primary_color_light);
            height: 100%;
            .btn_up_doctor{
              position: absolute;
              top:30%;
              transform: translateY(-50%);
              cursor: pointer;
              &:hover{
                color: white;
              }
            }
            .btn_down_doctor{
              position: absolute;
              top:70%;
              transform: translateY(-50%);
              cursor: pointer;
              &:hover{
                color: white;
              }
            }
          }
        }
      }
      .contacts{
          h2{
            padding-left: 5%;
            margin-top: 0;
          }
          .info_contact{
            padding-left: 5%;
            p{
              margin: 0 5px;
              font-size: 15px;
            }
            button{
              font-size: 18px;
              font-weight: 600;
              margin-top: 8px;
              padding: 10px;
              border-radius: 5px;
              background-color: map-get($color-map, green_logo);
              transition: background-color 0.4s ease;
              &:hover{
                background-color: #5f8a32;
              }
            }
          }
        }
      }
    }
  }
  #reviews_box{
    background-color: map-get($color-map, card_background);
    padding: 25px 40px;
    margin-top: 50px;
    margin-bottom: 80px;
    border-radius: 10px;
    .pagination{
      flex-direction: column;
      h2{
        color: white;
        margin: 0;
      }
      .stars_title{
        font-size: 18px;
        text-transform: uppercase;
        color: white;
        margin-bottom: 25px;
        i{
          color: map-get($color-map, green_logo);
          margin: 0 1px;
        }
      }
      button{
        width: max-content;
        font-size: 18px;
        font-weight: 600;
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: map-get($color-map, green_logo);
        transition: background-color 0.4s ease;
        &:hover{
          background-color: #5f8a32;
        }
      }
      .tableList{
        .objectBlock{
          color: white;
          margin-top: 20px;
          .header_message{
            margin-bottom: 0;
          }
          .body_message{
            font-style: italic;
            &::before{
              content: '"';
            }
            &::after{
              content: '"';
            }
          }
          .title_vote{
            height: 40px;
            .title{
              margin-bottom: 5px;
              color: map-get($color-map, primary_color_light);
              margin-top: 0;
              margin-bottom: 0;
              margin-right: 10px;
              text-transform: uppercase;
            }
            #vote{
              font-size: 13px;
              color: #ffc200;
              align-self: center;
              i{
                margin: 0 2px;
              }
            }
          }
          .review{
            .header_message{
              margin-top: 0;
            }
          }
        }
      }
      .pagination-block{
        width: max-content;
        margin: 10px auto;
        color: white;
        transition: color 0.3 ease;
        font-size: 20px;
        #page_number{
          span{
            font-weight: 600;
            cursor: pointer;
            &:hover{
              color: map-get($color-map, primary_color_light);
            }
          }
        }
        span{
          margin: 0 15px;
          i{
            &:hover{
              cursor: pointer;
              color: map-get($color-map, primary_color_light);
            }
          }
        }
      }
    }
  }
  .forms{
    #form_message, #form_review{
      color: white;
      background: map-get($color-map, card_background);
      padding: 0 30px;
      display: none;
      border-radius: 10px;
      margin: 220px auto;
      width: 50%;
      h2{
        padding-top: 20px;
      }
      textarea{
        width: 100%;
        border-radius: 5px;
        border: 0;
        outline: 0;
        color: map-get($color-map, primary_color_dark);
        padding: 10px;
      }
      label{
        color: map-get($color-map, primary_color_light);
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 10px;
      }
      input{
        color: map-get($color-map, primary_color_dark);
      }
      button{
        border-radius: 5px;
        margin: 25px 0;
        background-color: map-get($color-map, green_logo);
        color: black;
        font-weight: 600;
        transition: background-color 0.4s ease;
        padding: 12px;
        &:hover{
          background-color: #5f8a32;
        }
      }
    }
  }
}
