// Container

.container_80 {
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

// Flex

.d_flex {
    display: flex;
}

.d_flex_column {
    display: flex;
    flex-direction: column;
}

.d_flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Common tags
ul{
  list-style: none;
}

a:hover{
  text-decoration: none;
  color: inherit;
}

input{
  outline: 0;
}

button, input{
  border:0;
}

// Height & Width
.w100{
  width: 100%;
}

.h100{
height: 100%;  
}