// Typography

h1,h2,h3,h4,h5{
    line-height: 1.5;
}

h1{
    font-size: $xlarge;
    margin-bottom: $xlarge;
    margin-top: $large;
}
h2{
    font-size: $large;
    margin-bottom: $large;
    margin-top: $medium;
}
h3{
    font-size: $medium;
    margin-bottom: $medium;
    margin-top: $small;
}
h4{
    font-size: $small;
    margin-bottom: $small;
    margin-top: $xsmall;
}
h5{
    font-size: $xsmall;
    margin-bottom: $xsmall;
}
p{
    font-size: $xsmall;
    margin-bottom: $xsmall;
}

// Containers

.container_80 {
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

[class*="col-"] {
  padding: 0;
  margin: 0;
}

.card{
  border-radius: 0;
}
// Flex

.d_flex {
    display: flex;
}

.d_flex_column {
    display: flex;
    flex-direction: column;
}

.d_flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Position
.position_absolute{
  position: absolute;
}

.position_relative{
  position: relative;
}

// Common tags
ul{
  list-style: none;
}

a:hover{
  text-decoration: none;
  color: inherit;
}

input{
  outline: 0;
}

button, input{
  border:0;
}

// Height & Width
.w100{
  width: 100%;
}

.h100{
height: 100%;
}

// buttons
.btn_blue{
  background: map-get($color-map, primary_color_light);
  color: white;
  &:hover{
    background: map-get($color-map, button_blue_hover);
    color:  white;
  }
}

.btn_white{
    background: white;
    color:  map-get($color-map, primary_color_light);
    &:hover{
      background: map-get($color-map, primary_gray_light);
      color:  map-get($color-map, primary_color_light);
    }
}
