// Colors

$color-map: (
  // Blue
    "primary_color_dark": rgb(20, 20, 48),
    "primary_color_light": rgb(0, 174, 239),
    "primary_color_jumbo": rgb(55,57,108),
    "primary_link_color": rgba(31, 230, 220),
    "button_blue_hover": rgb(0, 131, 179),
    "card_background": rgba(0, 0, 0, 0.5),
    "card_background_hover": rgba(50, 50, 50, 0.5),


    // Gray
    "primary_gray_dark": rgb(49, 49, 49),
    "primary_gray_light": rgb(221, 221, 221),

    // Logo for Scrollbar

    "blue_logo": rgb(47, 169, 235),
    "green_logo": rgb(132, 190, 70),
);

// Mixins
@mixin button {
  padding: 5px 15px;
  border-radius: 7px;
}

@mixin scrollbar {
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #002752 14%, #141430 64%);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(26deg, #84be46 5%, #141430 64%);
}

::-webkit-scrollbar-track {
    background: #141430;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #141430;
}
}


//Font-sizes
$xxsmall: 11px;
$xsmall: 14px;
$small: 18px;
$medium: 24px;
$large: 36px;
$xlarge: 50px;
