// Colors

// $color-map: (
//     // Blue
//     "primary_color_dark": rgb(2, 61, 113),
//     "primary_color_light": rgb(74, 149, 217),

//     // Green
//     "secondary_color_dark": rgb(0, 108, 97),
//     "secondary_color_light": rgb(62, 214, 198),

//     // Orange
//     "element_color_dark": rgb(242, 90, 96),
//     "element_color_light": rgb(255, 151, 74),

//     // Gray
//     "primary_gray_dark": rgb(49, 49, 49),
//     "primary_gray_light": rgb(134, 134, 134),

//     "secondary_gray_dark": rgb(74, 74, 74),
//     "secondary_gray_light": rgb(167, 167, 167),

//     "black": rgb(0, 0, 0),
//     "white": rgb(255, 255, 255)
// );

$color-map: (
    // Blue
    "primary_color_dark": rgb(20, 20, 48),
    "primary_color_light": rgb(0, 174, 239),
    "primary_link_color": rgba(31, 230, 220),
)
    