
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Common
@import 'common';

/***************************
*********  ADMIN  **********
****************************/

// @import 'admin/dashboard';

/***************************
********  DOCTOR  **********
****************************/

@import 'doctor/dashboard';
@import 'doctor/messages';

/***************************
*********  GUEST  **********
****************************/

@import 'guest/partials/navbar';
@import 'guest/partials/jumbo_home';
@import 'guest/partials/boxes_features_home';
@import 'guest/partials/sponsored_doctors';
@import 'guest/partials/info_centre';
@import 'guest/partials/footer';
@import 'guest/home';
@import 'guest/advanced_search';
@import 'guest/profile_doctor';
// Mediaqueries
@import "guest/partials/mediaqueries/navbar";
@import "guest/partials/mediaqueries/jumbo_home";
@import "guest/partials/mediaqueries/boxes_features_home";
@import 'guest/partials/mediaqueries/sponsored_doctors';
@import 'guest/partials/mediaqueries/info_centre';
@import 'guest/partials/mediaqueries/footer';
@import 'guest/partials/mediaqueries/advanced_search';
@import 'doctor/partials/mediaqueries/dashboard';


/***************************
**********  AUTH  **********
****************************/

@import "layouts/auth/app";
@import "auth/login";
@import "auth/register";

// Font

body {
    font-family: 'poppins', sans-serif;
}
