#account {
    color: white;
    .pagination {
        width: 100%;
        display: block;
        margin: 0 auto;
        position: relative;
        padding: 20px;
    }

    .pagination .tableList {
        min-height: 250px;
        text-indent: 20px;
    }

    .tableList .objectBlock {
        // position: relative;
        border-radius: 1px;
        color: black;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid white;
        div{
            padding: 5px 0px;
            align-items: center;
             .header_message {
                 text-transform: capitalize;
                 font-size: 20px;
             }
             p {
               margin: 0;
                font-size: 18px;
             }
        }
       
    }

    .hidden{
        display: none;
    }

    .pageButton {
        border: 1px solid black;
        padding: 5px;
    }

    .clickPageNumber {
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .pagination-block {
        text-align: center;
        width: 100%;
    }

    .pagination-block .pageButton {
        background-color: grey;
        color: white;
    }

    .pagination-block span:hover {
        cursor: pointer;
    }

    .opacity {
        opacity: 0.5;
    }

    .outline-none {
        outline: none;
        user-select: none;
    }
}
