// MD - Medium devices (tablets, 992px and down)
@media (max-width: 991.98px) {
    footer {

        .adjustment {
            flex-direction: column !important;
            & div {
                font-size: 0.7rem !important;
                line-height: 1.5rem;
            }
        }
        
    }
}

// SM - Small devices (landscape phones, 768px and down)
@media (max-width: 767.98px) {
    footer {

        .first_row {

            // Logo row 
            .logo_row {
                .logo_footer{
                    justify-content: center;
                    margin-bottom: 30px;
                    img {
                      height: 100px !important;
                    }
                }
            }
    
            // Menù footer
            .menu_footer {
    
                .title_footer {
                    margin-top: 0 !important;
                    margin-left: 0px !important;
                    font-size: 0.7rem;
                }
    
                .adjustment {
                    flex-direction: row !important;
                    justify-content: flex-start !important;
                    & div {
                        font-size: 0.7rem !important;
                        line-height: 1.5rem;
                    }
                }
    
                .fa-chevron-right {
                    margin-left: 0px !important;
                }
                
            } 
    
            // Details
            .details {
                .title_footer {
                    margin-top: 0 !important;
                    font-size: 0.7rem !important;
                }
                
                .btn_blue {
                    font-size: 0.7rem !important;
                }
            }
        }

        .second_row {

            // Social
            .social_icons {
                justify-content: flex-start !important;
            }

            // Copyright (second row)
            .copyright {
                justify-content: flex-end !important;
            }
        }
    }

}

// XS - Extra Small devices (phones, 576px and down)
@media (max-width: 575.98px) {
    footer {
        .first_row {
            justify-content: center;
        
            // Menù footer
            .menu_footer {
                padding-left: 0 !important;

                .links_footer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .title_footer {
                    margin-top: 18px !important;
                    margin-left: 0 !important;
                    font-size: 0.7rem;
                }

                .adjustment {
                    & div {
                        font-size: 0.7rem !important;
                        line-height: 1.5rem;
                        margin-left: 10px !important;
                    }
                }
            } 

            // Details
            .details {
                display: flex;
                flex-direction: column;
                align-items: center;

                .details_footer {
                    align-items: self-start;
                }

                .title_footer {
                    margin-top: 25px !important;
                    font-size: 0.7rem !important;
                }
                
                .btn_blue {
                    font-size: 0.7rem !important;
                }
            }

        }

        .second_row {
            // Social 
            .social_icons {
                justify-content: center !important;
            }

            // Copyright 
            .copyright {
                padding-top: 10px;
                justify-content: center !important;
                
            }
        }
    }
}  


