// MD - Medium devices (tablets, 992px and down)
@media (max-width: 991.98px) {
    #info_centre {
        .first_info_row {
            margin-bottom: 15px;
        }
        .second_info_row {
            margin-top: -5px;
            width: 100%;
            
                .info_row {
                    width: 100%;
                }
            
           
        }
    }
}

// SM - Small devices (landscape phones, 768 and down)
@media (max-width: 767.98px) {
    #info_centre {
        .first_info_row {
            margin-bottom: 15px;
        }

        .second_info_row {
            margin-top: -5px;
            width: 100%;
            .info_row {
                width: 100%;
            }
        }
            
    }
}

// XS - Extra Small devices (phones, 572 and down)

@media (max-width: 572px) {
    #info_centre {
       .logo_footer {
           img {
               width: 50%;
           }
       }
            
    }
}