@media (min-width: 1700px){
  #jumbo_home{
    .overlay_doc_image{
        background-size: calc(0.8 * 790px) calc(0.8 * 1000px);
        background-position: 80% 100%;
    }
    .container_searchbar{
      .text_jumbo{
        h2{
          font-size: 60px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #jumbo_home{
    .overlay_doc_image{

    }
  }
}

// MD - Medium devices (tablets, 992px and down)
@media (max-width: 991.98px) {
  #jumbo_home{
    .overlay_doc_image{
      background-position: 90% 86%;
    }
    .container_searchbar{
      top: 20%;
      width: 50%;
    }
  }
}

// SM - Small devices (landscape phones, 768 and down)
@media (max-width: 767.98px) {
  #jumbo_home{
      height: 100vh;
    .overlay_doc_image{
      background-size: 0;
      margin-top: 10px;
      position: relative;
    }
    .container_searchbar{
      height: max-content;
      width: 90%;
      margin-top: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      .text_jumbo{
        width: 100%;
        h2{
          font-size: 30px;
          margin-top: 0;
          margin-bottom: 20px;
        }
      }
      form{
        justify-content: start;
        position: static;
        input{
          width: 75%;
          height: 45px;
          border-top-left-radius: 7px;
          border-bottom-left-radius: 7px;
          padding: 0 20px;
        }
        button{
          width: 25%;
          border-top-right-radius: 7px;
          border-bottom-right-radius: 7px;
          color: white;
          background: map-get($color-map, primary_color_dark);
          transition: background-color 0.4s ease;
          &:hover{
            background: map-get($color-map, primary_color_light);
          }
        }
      }
    }

  }
}
