// MD - Medium devices (tablets, 992px and down)
@media (max-width: 991.98px) {
  #navbar{
    height: 90px;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    border-radius: 0;
    .row{
      .logo_container{
        #logo{
          img{
            height: 90px;
          }
        }
      }
      #button_hamburger{
        opacity: 1;
        width: max-content;
        display: flex;
        cursor: pointer;
        color: white;
        font-size: 27px;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        i{
          text-align: center;
        }
      }
      #links_container{
        display: block;
        padding-top: 30px;
        position: absolute;
        top: 90px;
        left: 100vw;
        width: 100vw;
        height: 100vh;
        background-color: map-get($color-map, primary_color_dark);
        transition: left 0.5 ease;
        .close_icon_hamburger{
          display: block;
          color: red;
          position: absolute;
          right: 7%;
          top: 3%;
          font-size: 40px;
        }
        .links{
          display: block;
          padding-left: 15px;
          li{
            height: max-content;
            width: max-content;
            .button{
              padding: 20px;
              margin: 0 15px;
              height: 40px;
              width: 100px;
              text-align: center;
            }
            a{
              display: flex;
              justify-content: center;
              align-items: center;
              height: 50px;
              margin-top: 10px;
              margin-bottom: 10px;
              font-size: 22px;
              width: max-content;
            }
            hr{
              display: none;
            }
          }
        }
      }
    }
  }
  #navbar.fixed_top{
    animation-name: none;
  }
}


// SM - Small devices (landscape phones, 768 and down)
@media (max-width: 767.98px) {
  #navbar{
    height: 70px;
    .row{
      .logo_container{
        width: 50%;
        #logo{
          img{
            height: 70px;
          }
        }
      }
      #links_container{
        top: 70px;
        #button_hamburger{
          display: block;
        }
        .close_icon_hamburger{
          font-size: 30px;
        }
      }
    }
  }
  #navbar.fixed_top{
  animation-name: none;
  }
}

// animations, animations classes, and keyframes

.menuclose{
  animation-name: menuclose;
  animation-duration: 0.5s;
}
.menuopen{
  animation-name: menuopen;
  animation-duration: 0.5s;
}

@keyframes menuopen {
  from {left: 100vw;}
  to {left: 0;}
}

@keyframes menuclose {
  from {left: 0;}
  to {left: 100vw;}
}
