// MD - Medium devices (tablets, 992px and down)
@media (max-width: 991.98px) {
}

// SM - Small devices (landscape phones, 768 and down)
@media (max-width: 767.98px) {
    #slideshow{
        .card_container{
            #card-complete{
                .card-complete-item{
                    .avatar{
                        width: 250px;    
                        height: 250px;
                    }
                }
            }
        }
    }
}