.form-group {
    align-items: center;
}

.card-body label {
    margin-right: 15px;
    
}

.form-check {
    margin-top: 20px;
    justify-content: center;
    
    input {
        margin-left: -10rem;
    }
}

.form-login {
    margin-top: 20px;
    justify-content: center;
}