.card-custom {
    font-family: "poppins", sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: map-get($color-map, card_background);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px 10px;
}

.card-body label {
    margin-right: 15px;
    
}

.form-check {
    margin-top: 20px;
    justify-content: center;
    
    input {
        margin-left: -10rem;
    }
}

.form-login {
    margin-top: 20px;
    justify-content: center;
}

.form-control {
    border: 1px solid map-get($color-map, primary_color_dark);
    background-color: floralwhite !important;
}

.btn-primary {
    padding: 5px 15px;
    border-radius: 7px;
    border: 0;
}

.form_label_input {
    margin: 10px 0px;
    .label {
        width: 100px;
        align-items: center;
    }

    .input {
        width: 280px;
    }
}
